<mat-toolbar class="tool-bar" color="primary">
  <img [routerLink]="''" src="assets/images/book.png" class="logo" alt="">
  <a class="show-desktop" mat-flat-button [routerLink]="''" > <h1> Marker </h1> </a>
  <span class="spacer-full"></span>
  <a class="show-desktop" mat-flat-button [routerLink]="'features'" > Features </a>
  <a class="show-desktop" mat-flat-button [routerLink]="'pricing'" > Pricing </a>
  <!-- <a mat-flat-button> Contact </a> -->
  <!-- <a mat-flat-button color="secondary"> Login </a> -->

</mat-toolbar>
