.feature-container {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

img {
  object-fit: contain;
  // height: 480px;
}


@media all and (min-width: 480px) {
  .features {
    justify-content: flex-start;
  }

  .feature-container {
    flex-wrap: wrap;
  }

  .img {
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
}
